<main class="table" id="customers_table">
    <section class="table__header">
        <h4>Danh Sách Nhân Viên</h4>
        <div class="input-group">
            <input type="search" placeholder="Tìm kiếm..." class="form-control" style="margin-top: 2px;">
        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Xuất File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Xuất Dữ Liệu &nbsp; &#10140;</label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Ảnh <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Tên nhân viên <span class="icon-arrow">&UpArrow;</span></th>
                    <th>SĐT <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Chức vụ <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Trạng Thái <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Ca làm <span class="icon-arrow">&UpArrow;</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.id }}</td>
                    <td><img [src]="employee.image" alt="{{ employee.name }}" class="img-thumbnail"
                            style="width: 50px; height: 50px;"></td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.position }}</td>
                    <td>
                        <p class="status" [ngClass]="{
                            'delivered': employee.status === 'Hoạt động',
                            'completed': employee.status === 'Hoàn thành',
                            'not-done': employee.status === 'Chưa làm'
                        }">{{ employee.status }}</p>
                    </td>
                    <td><strong>{{ employee.shift }}</strong></td>
                    <td class="d-flex justify-content-between align-items-center">
                        <a [routerLink]="['/pages/personnels/edit-personnel']">
                            <button class="btn btn-primary px-4 py-1">Sửa</button>
                        </a>
                        <button class="btn btn-danger px-4 py-1" (click)="confirmDelete()">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>