<main class="table table-responsive-md" id="customers_table">
    <section class="table__header">
        <h4>Danh Sách Nhân Viên</h4>
    </section>
    <div *ngIf="deleteNotification" class="alert alert-success alert alert-success alert alert-success m-3 p-2" role="alert">
        Xóa thành công
    </div>
    <section class="table__body">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Ảnh <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Tên nhân viên <span class="icon-arrow">&UpArrow;</span></th>
                    <th>SĐT <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Chức vụ <span class="icon-arrow">&UpArrow;</span></th>
                    <th>Ca làm <span class="icon-arrow">&UpArrow;</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of lisPersonnels">
                    <td>{{ employee.id }}</td>
                    <td class="text-center">
                        <img src="../../../../assets/images/{{employee.img}}" alt="{{ employee.username }}" class="img-thumbnail mx-auto d-block" style="max-width: 60px; max-height: 50px;">
                    </td>
                    
                    <td>{{ employee.username }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.position }}</td>
                    <td><strong *ngIf="employee.shift == 'Shift 1'">7h-10h</strong>
                        <strong *ngIf="employee.shift == 'Shift 2'">10h-14h</strong>
                        <strong *ngIf="employee.shift == 'Shift 3'">14h-18h</strong>
                    </td>
                    <td class="d-flex justify-content-between ">
                        <a [routerLink]="['/pages/personnels/edit-personnel', employee.id]">
                            <button class="btn btn-primary px-3 py-2"><nb-icon icon="edit-outline"></nb-icon></button>
                        </a>
                        <button type="button" class="btn btn-danger px-3 py-2" (click)="openDeleteDialog(employee.id)">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngx-paginator [apiUrl]="apiUrl" [current_page]="currentPage" [last_page]="lastPage"
            (dataList)="getPage($event)">
        </ngx-paginator>
    </section>
</main>