<div *ngIf="createData" class="alert alert-success p-3 mb-3" role="alert">
    Sửa thành công
</div>
<main class="form" id="customers_form">
    <section class="form__header">
        <h4>Sửa Khách Hàng</h4>
    </section>
    <section class="form__body p-3">
        <form [formGroup]="customerForm" (ngSubmit)="update()">
            <div class="form-group">
                <label for="username">Tên Tài Khoản:</label>
                <input type="text" id="username" name="username" formControlName="username" required>
                <span class="text-danger" *ngIf="customerForm.get('username')?.errors?.required">
                    Tên tài khoản không được để trống
                </span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" formControlName="email" required>
                <span class="text-danger" *ngIf="customerForm.get('email')?.errors?.required">
                    Email không được để trống
                </span>
                <span class="text-danger" *ngIf="customerForm.get('email')?.errors?.email">
                    Email không hợp lệ
                </span>
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại:</label>
                <input type="text" id="phone" name="phone" formControlName="phone" required>
                <span class="text-danger" *ngIf="customerForm.get('phone')?.errors?.required">
                    Số điện thoại không được để trống
                </span>
                <span class="text-danger" *ngIf="customerForm.get('phone')?.errors?.pattern">
                    Số điện thoại phải bắt đầu là 0 và phải đủ 10 số
                </span>
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" formControlName="password" required>
                <span class="text-danger" *ngIf="customerForm.get('password')!.invalid && (customerForm.get('password')!.dirty || customerForm.get('password')!.touched)">
                    <ng-container *ngIf="customerForm.get('password')!.errors?.['required']"> Mật khẩu không được để trống</ng-container>
                    <ng-container *ngIf="customerForm.get('password')!.errors?.['minlength']"> Mật khẩu phải đủ 6 kí tự</ng-container>
                </span>
                
            </div>
            <div class="form-group">
                <label for="status">Trạng Thái:</label>
                <select id="status" name="status" formControlName="status" required>
                    <option value="" disabled selected>Chọn trạng thái</option>
                    <option value="active">Kích hoạt</option>
                    <option value="inactive">Chưa kích hoạt</option>
                    <option value="hidden">Ẩn</option>
                </select>
                <span class="text-danger" *ngIf="customerForm.get('status')?.errors?.required">
                    Trạng thái không được để trống
                </span>
            </div>
            <div class="form-group">
                <label for="role">Vai Trò:</label>
                <select id="role" name="role" formControlName="role" required>
                    <option value="" disabled selected>Chọn vai trò</option>
                    <option value="user">Người dùng</option>
                    <option value="admin">Quản trị viên</option>
                    <option value="none">Chưa có vai trò</option>
                </select>
                <span class="text-danger" *ngIf="customerForm.get('role')?.errors?.required">
                    Vai trò không được để trống
                </span>
            </div>
            <div class="form-actions">
                <button type="submit">Sửa Tài Khoản</button>
            </div>
        </form>
    </section>
</main>