<div class="container">
    <main class="form" id="customers_form">
        <section class="form__header">
            <h4>Sửa Nhân Viên Mới</h4>
        </section>
        <section class="form__body p-3">
            <form>
                <div class="form-group">
                    <label for="username">Tên nhân viên</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phone">Điện thoại:</label>
                    <input type="text" id="phone" name="phone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="chucvu">Chức vụ:</label>
                    <select id="chucvu" name="chucvu" class="form-control" required>
                        <option value="" disabled selected>Chọn chức vụ nhân viên...</option>
                        <option value="1">Quản lý</option>
                        <option value="2">Nhân viên</option>
                        <option value="3">Giao hàng</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ca">Ca làm:</label>
                    <select id="ca" name="ca" class="form-control" required>
                        <option value="" disabled selected>Chọn ca làm...</option>
                        <option value="1">Ca 1(6h30 - 9h)</option>
                        <option value="2">Ca 2(9h - 1h)</option>
                        <option value="3">Ca 3(1h 4h)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="img">Ảnh</label>
                    <input type="file" id="img" name="img" class="form-control">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </section>
    </main>
    </div>