<main class="container mt-5" id="customers_table">
    <section class="mb-4">
        <h4 class="mb-3">Danh Sách Nhân Viên</h4>
        <div class="d-inline-block">
            <input type="checkbox" id="export-file" class="d-none">

        </div>
    </section>
    <section class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ảnh <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Chương trình khuyến mãi <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ưu đãi <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ngày bắt đầu <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ngày kết thúc <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Trạng Thái <span class="icon-arrow">&UpArrow;</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promo of promotions">
                    <td>{{ promo.id }}</td>
                    <td>
                      <img [src]="promo.image" class="img-thumbnail" style="width: 50px; height: 50px;" alt="{{ promo.title }}">
                    </td>
                    <td>{{ promo.title }}</td>
                    <td>{{ promo.offer }}</td>
                    <td>{{ promo.startDate }}</td>
                    <td>{{ promo.endDate }}</td>
                    <td>
                      <p [ngClass]="{'badge badge-success': promo.status === 'Hoạt động', 'badge badge-warning': promo.status === 'Sắp bắt đầu', 'badge badge-secondary': promo.status === 'Đã kết thúc'}">
                        {{ promo.status }}
                      </p>
                    </td>
                    <td class="d-flex justify-content-around">
                      <a [routerLink]="['/pages/discounts/edit-discount']">
                        <button class="btn btn-primary px-4 py-1">Sửa</button>
                      </a>
                      <button class="btn btn-danger px-4 py-1">Xóa</button>
                    </td>
                  </tr>
            </tbody>
        </table>
    </section>
</main>