<div class="container">
    <main class="form" id="customers_form">
        <section class="form__header">
            <h4>Sửa Khuyến mãi mới</h4>
        </section>
        <section class="form__body p-3">
            <form>
                <div class="form-group">
                    <label for="nameDiscount">Tên chương trình khuyến mãi:</label>
                    <input type="text" id="nameDiscount" name="nameDiscount" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="startDate">Ngày bắt đầu:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="endDate">Ngày kết thúc:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="img">Ảnh</label>
                    <input type="file" id="img" name="img" class="form-control">
                </div>
                <div class="form-group">
                    <label for="contentDiscount">Nội dung chương trình:</label>
                    <textarea name="" id="" class="form-control" cols="" rows="5"></textarea>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </section>
    </main>
    </div>