

<main class="form" id="customers_form">
    <section class="form__header">
        <h4>Sửa sản phẩm</h4>
    </section>
    <section class="form__body p-3">
        <form>
            <div class="form-group">
                <label for="username">Tên sản phẩm:</label>
                <input type="text" id="username" name="username" required value="Trà sữa trứng">
            </div>
            <div class="form-group">
                <label for="file">Hình ảnh:</label>
                <input type="file" id="file" name="file" required>
            </div>
            <div class="form-group">
                <label for="price">Giá sản phẩm:</label>
                <input type="number" id="price" name="price" required value="30.000">
            </div>
            <div class="form-group">
                <label for="status">Trạng Thái:</label>
                <select id="status" name="status" required>
                    <option value="1">Kích hoạt</option>
                    <option value="2">Hiển thị</option>
                    <option value="3">Ẩn</option>
                </select>
            </div>
            <div class="form-group">
                <label for="role">Loại sản phẩm:</label>
                <select id="role" name="role" required>
                    <option value="1">Trà sữa</option>
                    <option value="2">Trà</option>
                    <option value="3">Bánh ngọt</option>
                </select>
            </div>
            <div class="form-actions">
                <button type="submit">Lưu thay đổi</button>
            </div>
        </form>
    </section>
</main>
