<div *ngIf="createData" class="alert alert-success  p-3 mb-3" role="alert">
    Xóa thành công
</div>

<main class="table" id="orders_table">
    <section class="table__header">
        <h4>Danh Sách Đơn Hàng Trà Sữa</h4>
        <div class="input-group">
            <input type="search" placeholder="Tìm kiếm..." [(ngModel)]="filterValue" (input)="filter()"
                style="margin-top: 2px;">

        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Xuất File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Xuất Dữ Liệu &nbsp; &#10140;</label>
            </div>
        </div>

    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Tên <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Số Điện Thoại <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Vị Trà Sữa <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Đường <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Đá <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Topping <span class="icon-arrow">&UpArrow;</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of listDeliveries, let i = index">
                    <td> {{i+1}} </td>
                    <td> {{d.customer_name}} </td>
                    <td> {{d.customer_phone}} </td>
                    <td> {{d.milkTea_flavor}} </td>
                    <td> {{d.sugar}}% </td>
                    <td> {{d.ice}}% </td>
                    <td> {{d.toppings}} </td>
                    <td class="d-flex justify-content-between align-items-center">
                        <a [routerLink]="['/pages/delivery/edit-delivery', d.id]"><button
                                class="btn btn-primary px-3 py-2"><nb-icon icon="edit-outline"></nb-icon></button></a>

                        <button (click)="openDeleteDialog(d.id)" class="btn btn-danger px-3 py-2"><nb-icon icon="trash-2-outline"></nb-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngx-paginator [apiUrl]="apiUrl" [current_page]="currentPage" [last_page]="lastPage"
            (dataList)="getPage($event)">
        </ngx-paginator>
    </section>
</main>