<main class="table" id="customers_table">
    <section class="table__header">
        <h4>Danh Sách Danh Mục</h4>
        <div class="input-group">
            <input type="search" placeholder="Tìm kiếm..." style="margin-top: 2px;">

        </div>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Xuất File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Xuất Dữ Liệu &nbsp; &#10140;</label>
                <!-- <label for="export-file" id="toPDF">PDF <img src="assets/images/pdf.png" alt="PDF"></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="assets/images/excel.png" alt="Excel"></label> -->
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Ảnh <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Loại Sản Phẩm <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Mô Tả <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Trạng Thái <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Xu Hướng <span class="icon-arrow">&UpArrow;</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{ category.id }}</td>
                    <td>
                        <img [src]="category.image" alt="{{ category.name }}">
                    </td>
                    <td>
                        {{ category.name }}
                    </td>
                    <td>{{ category.description }}</td>
                    <td>
                        <p class="status" [class.delivered]="category.status === 'Kích hoạt'">{{ category.status }}</p>
                    </td>
                    <td><strong>{{ category.trend ? 'Có' : 'Không' }}</strong></td>
                    <td class="d-flex justify-content-between align-items-center">>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>