<main class="form" id="customers_form">
    <section class="form__header">
      <h4>Thêm sản phẩm</h4>
    </section>
    <section class="form__body p-3">
      <form (ngSubmit)="create()" [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Tên sản phẩm:</label>
          <input type="text" id="username" formControlName="username">
          <div *ngIf="productForm.get('username')?.invalid && productForm.get('username')?.touched">
            <spam class="text-danger" *ngIf="productForm.get('username')?.errors?.['required']">Vui lòng nhập tên sản phẩm</spam>
          </div>
        </div>
        <div class="form-group">
          <label for="file">Hình ảnh:</label>
          <input type="file" id="file" formControlName="file">
          <div *ngIf="productForm.get('file')?.invalid && productForm.get('file')?.touched">
            <spam class="text-danger" *ngIf="productForm.get('file')?.errors?.['required']">Vui lòng nhập hình ảnh</spam>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Giá sản phẩm:</label>
          <input type="number" id="price" formControlName="price">
          <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
            <spam class="text-danger" *ngIf="productForm.get('price')?.errors?.['required']">Vui lòng nhập giá sản phẩm</spam>
            <spam class="text-danger" *ngIf="productForm.get('price')?.errors?.['min']">Giá sản phẩm phải lớn hơn 0</spam>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Trạng Thái:</label>
          <select id="status" formControlName="status">
            <option value="active">Hiển thị</option>
            <option value="displayed">Ẩn</option>
          </select>
          <div *ngIf="productForm.get('status')?.invalid && productForm.get('status')?.touched">
            <spam class="text-danger" *ngIf="productForm.get('status')?.errors?.['required']">Vui lòng chọn trạng thái của sản phẩm</spam>
          </div>
        </div>
        <div class="form-group">
          <label for="role">Loại sản phẩm:</label>
          <select id="role" formControlName="role">
            <option value="1">Trà sữa</option>
            <option value="2">Trà</option>
            <option value="3">Bánh ngọt</option>
          </select>
          <div *ngIf="productForm.get('role')?.invalid && productForm.get('role')?.touched">
            <spam class="text-danger" *ngIf="productForm.get('role')?.errors?.['required']">Vui lòng chonj loại sản phẩm</spam>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" [disabled]="productForm.invalid">Thêm sản phẩm</button>
        </div>
      </form>
    </section>
  </main>
  