<div *ngIf="createData" class="alert alert-success p-3 mb-3" role="alert">
  Sửa thành công
</div>
<main class="form" id="orders_form">
    <section class="form__header">
      <h4>Sửa Đơn Hàng Trà Sữa</h4>
    </section>
    <section class="form__body p-3">
      <form (ngSubmit)="update()" [formGroup]="editForm">
        <div class="form-group">
          <label for="customer_name">Tên Khách Hàng:</label>
          <input type="text" id="customer_name" formControlName="customer_name" [value]="editdelivery.customer_name">
          <span class="text-danger" *ngIf="editForm.get('customer_name')!.errors?.required">Tên khách hàng không được để trống</span>
        </div>
        <div class="form-group">
          <label for="customer_phone">Số Điện Thoại:</label>
          <input type="tel" id="customer_phone" formControlName="customer_phone">
          <span class="text-danger" *ngIf="editForm.get('customer_phone')!.errors?.required">Số điện thoại không được để trống</span>
          <span class="text-danger" *ngIf="editForm.get('customer_phone')!.errors?.pattern">Số điện thoại không hợp lệ</span>
        </div>
        <div class="form-group">
          <label for="milkTea_flavor">Hương Vị Trà Sữa</label>
          <select id="milkTea_flavor" formControlName="milkTea_flavor" required>
            <option value="" disabled selected>Chọn vị trà sữa</option>
            <option value="original">Truyền thống</option>
            <option value="matcha">Matcha</option>
            <option value="taro">Khoai Môn</option>
            <option value="honeydew">Dưa Gang</option>
            <option value="chocolate">Sô-cô-la</option>
          </select>
          <span class="text-danger" *ngIf="editForm.get('milkTea_flavor')!.errors?.required">Hương vị không được để trống</span>
        </div>
        <div class="form-group">
          <label for="sugar">Đường</label>
          <select id="sugar" formControlName="sugar" required>
            <option value="" disabled selected>Chọn lượng đường</option>
            <option value="0">Không đường</option>
            <option value="30">30%</option>
            <option value="50">50%</option>
            <option value="70">70%</option>
            <option value="100">100%</option>
          </select>
          <span class="text-danger" *ngIf="editForm.get('sugar')!.errors?.required">Mức đường không được để trống</span>
        </div>
        <div class="form-group">
          <label for="ice">Đá</label>
          <select id="ice" formControlName="ice" required>
            <option value="" disabled selected>Chọn lượng đá</option>
            <option value="0">Không đá</option>
            <option value="30">30%</option>
            <option value="50">50%</option>
            <option value="70">70%</option>
            <option value="100">100%</option>
          </select>
          <span class="text-danger" *ngIf="editForm.get('ice')!.errors?.required">Mức đá không được để trống</span>
        </div>
        <div class="form-group">
          <label for="toppings">Topping</label>
          <select id="toppings" formControlName="toppings" required>
            <option value="" disabled selected>Chọn toppings</option>
            <option value="pearl">Trân Châu</option>
            <option value="pudding">Pudding</option>
            <option value="aloe">Thạch Lô Hội</option>
            <option value="grass_jelly">Thạch Đen</option>
          </select>
          <span class="text-danger" *ngIf="editForm.get('toppings')!.errors?.required">Topping không được để trống</span>
        </div>
        <div class="form-actions">
          <button type="submit">Sửa Đơn Hàng</button>
        </div>
      </form>
    </section>
  </main>
  